<!-- start-services -->
<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row display-flex">
            <div class="section-header mb-5">
                <h2 class="heading-main">Our Services</h2>
                <p class="heading-summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam
                    laborum,
                    ducimus, laboriosam sint dolorum aspernatur libero.</p>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/service1.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service One</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula. Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/services2.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service Two</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to
                            additional content.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/services3.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service Three</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/service1.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service One</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula. Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula..Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula..Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula.</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/services2.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service Two</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to
                            additional content.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula.Lorem ipsum dolor sit amet additional adipiscing elit
                            Aenean commodo ligula</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-4 col-lg-4 col-sm-12">
                <div class="card mb-4">
                    <div class="card-header p-0 text-center">
                        <img class="img-responsive" src="assets/image/four-layout-cards/services3.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize">Service Three</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end-services -->